@page "/"
@using CarRental.Business.Classes;
@inject BookingManager bookingManager

<div id="table">

    @if (state == "vehicles")
    {
        <div>
            <h4 class="text-center mb-3">Vehicles</h4>
        </div>
        <table class="table border border-info border-rounded pt-4">
            <thead>
                <tr>
                    <th>RegNo</th>
                    <th>Make</th>
                    <th>Odometer</th>
                    <th>Cost Km</th>
                    <th>Vehicle Type</th>
                    <th>$ Day</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var v in bookingManager.GetVehicles())
                    {
                    <tr>
                        <td>@v.RegistrationNo</td>
                        <td>@v.Make</td>
                        <td>@v.Odometer</td>
                        <td>@v.CostPerKm</td>
                        <td>@v.VehicleType</td>
                        <td>@v.CostPerDay</td>
                        <td>@v.RentedStatus</td>
                    </tr>
                    }
            </tbody>
        </table>
    }
    else if (state == "bookings")
    {
        <div>
            <h4 class="text-center mb-3">Bookings</h4>
        </div>
        <table class="table border border-info border-rounded pt-4">
            <thead>
                <tr>
                    <th>RegNo</th>
                    <th>Customer</th>
                    <th>Km Rented</th>
                    <th>Km Returned</th>
                    <th>Rented</th>
                    <th>Returned</th>
                    <th>Cost</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody text="Bookings">
                    @foreach(var b in bookingManager.GetBookings())
                    {
                    <tr>
                        <td>@b.RegistrationNo</td>
                        <td>@b.Customer</td>
                        <td>@b.KmRented</td>
                        <td>@b.KmReturned</td>
                        <td>@b.Rented</td>
                        <td>@b.Returned</td>
                        <td>@b.Cost</td>
                        <td>@b.Status</td>
                    </tr>
                    }

            </tbody>
        </table>
    }
    else if (state == "customers")
    {
        <div>
            <h4 class="text-center mb-3">Customers</h4>
        </div>
        <table class="table border border-info border-rounded pt-4">
            <thead>
                <tr>
                    <th>CustomerID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in bookingManager.GetCustomers())
                {
                <tr>
                    <td>@p.CustID</td>
                    <td>@p.LastName</td>
                    <td>@p.FirstName</td>
                </tr>
                }
            </tbody>
        </table>
    }

    <div class="text-center mt-4">
        <button type="button" id="vehiclesBtn" @onclick="ShowVehicles" class="btn btn-primary btn-block mb-4 btn-padding">Vehicles</button>
        <button type="button" id="bookingsBtn" @onclick="ShowBookings" class="btn btn-primary btn-block mb-4 btn-padding">Bookings</button>
        <button type="button" id="customersBtn" @onclick="ShowCustomers" class="btn btn-primary btn-block mb-4 btn-padding">Customers</button>
    </div>
</div>